.gpu-burst-section {
    padding: 120px 0;
    text-align: center;
}

.gpu-burst-section h3 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    max-width: 980px;
    margin: 0 auto 80px auto;
    padding: 0 22px;
}

.gpu-burst-container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.gpu-hardware,
.gpu-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.gpu-hardware {
    z-index: 1;
    max-width: 50%;
}

.gpu-screen {
    z-index: 2;
    max-width: 25%;
}

.gpu-burst-description {
    max-width: 500px;
    margin: -70px auto 0 auto;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
    color: var(--color-text-secondary);
    padding: 0 20px;
}

.gpu-burst-description .highlight {
    color: var(--color-text-primary);
    font-weight: 600;
}